<!-- to render cards -->

<% if (!cards) { %>
  <p>No cards to show</p>
<% } else { %>
  <% cards.forEach((card) => { %>
    <div class="card">
      <div><img src="<%= card.imageUrl %>" style="width: 100px;"></div>
      <div class="card__content">
        <h2 class="card__title"><%= card.title %></h2>
        <ul>
          <li>Type: <%= card.type %></li>
          <!-- episodes -->
          <% if (card.type !== 'Movie') { %>
            <li>No. of Episodes: <%= card.episodes %></li>
          <% } %>
          <!-- aired dates -->
          <% if (card.startDate == card.endDate) { %>
            <li>Aired on: <%= formatDate(card.startDate) %></li>
          <% } else { %>
            <li>Aired on: <%= formatDate(card.startDate) %> - <%= formatDate(card.endDate) %></li>
          <% } %>
        </ul>
      </div>
    </div>
  <% }); %>
<% } %>