<h1>Search for an anime</h1>
<h4>searching for: "<%= query %>"</h4>
<h1>Results</h1>
<a href="/search">Search Again?</a>

<div>
  <ul>
    <% data["results"].forEach((anime) => { %>
      <li>
        <div style="display: flex; border: 2px solid #232323;">
          <div><img src="<%= anime["image_url"] %>" style="width: 100px;" /></div>
          <div>
            <ul>
                <li><strong><%= anime["title"] %></strong></li>
                <li>Type: <%= anime["type"] %></li>
                <li>
                  Aired dates: <%= anime["start_date"] %> - <%= anime["end_date"] %>
                </li>
                <li>Episodes: <%= anime["episodes"] %></li>
                <li>
                  <a href="<%= anime["url"] %>">More info (via MyAnimeList)</a>
                </li>
            </ul>
          </div>
          <div>
            <form action="/dashboard" method="POST">
                <input type="hidden" name="imageUrl" value="<%= anime["image_url"] %>">
                <input type="hidden" name="malId" value="<%= anime["mal_id"] %>">
                <input type="hidden" name="title" value="<%= anime["title"] %>">
                <input type="hidden" name="type" value="<%= anime["type"] %>">
                <input type="hidden" name="startDate" value="<%= anime["start_date"] %>">
                <input type="hidden" name="endDate" value="<%= anime["end_date"] %>">
                <input type="hidden" name="episodes" value="<%= anime["episodes"] %>">
                <input type="hidden" name="url" value="<%= anime["url"] %>">
                <select name="list">
                  <option name="" value="0">Add this to:</option>
                  <option value="currWatchList">'Currently Watching' List</option>
                  <option value="toWatchList">'To Watch' List</option>
                  <option value="compList">'Completed' List</option>
                </select>
                <button>Submit</button>
            </form>
          </div>
        </div>
      </li>
    <% }) %>
  </ul>
</div>


<a href="/">Search Again?</a>