<% include ./partials/header %>
<section>
  <h1>Search results</h1>
  <h3>Showing results for: "<%= query %>"</h3>
  Need to search again?
  <% include ./partials/searchbar %>
</section>

<section class="container--flex-col container--flex-col--center"> <!-- results list -->
  <h1>Results</h1>
  <% data["results"].forEach((anime) => { %>
    <div class="card card--results">
      <div><img src="<%= anime["image_url"] %>" style="width: 100px;" /></div>
      <div class="card__content card__content--border-right card__content--half-width">
        <h4 class="card__title"><%= anime["title"] %></h4>
        <ul>
            <li>Type: <%= anime["type"] %></li>
            <% if (anime["start_date"] == anime["end_date"]) { %>
              <li>Show date: <%= formatDate(anime["start_date"]) %></li>
            <% } else { %>
              <li>Show dates: <%= formatDate(anime["start_date"]) %> - <%= formatDate(anime["end_date"]) %></li>
            <% } %>

            <li>Episodes: <%= anime["episodes"] %></li>
            <li>
              <a href="<%= anime["url"] %>">More info (via MyAnimeList)</a>
            </li>
        </ul>
      </div>
      <!-- form section of card-->
      <% include ./partials/form %>
    </div>
  <% }) %>
</section>

<a href="/">Search Again?</a>

<% include ./partials/footer %>